#root {
  max-width: 100vw;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2%;
}
img {
  display: block;
  width: 15vw;
  height: 15vh;
}
/* .container {
  display: block;
} */
li{
  list-style-type: none;
}
small{
  display: block;
}